<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>EXAM RESULT ANALYSIS</title>
</head>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/index.css">
<link href="css/style.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">

<body >


  <div class="container-xl">
    <h1><b>SMIT EXAM RESULT</b></h1>

  </div>
  <div class="box">
    <h2 class="line"><b>RESULT GENERATOR</b></h2>
    <div class="btn-1">
      <button class="button a" onclick="gotoPage('ResultGenerator')"></button>
    </div>
    <div class="">
      <p><i>Check your exam GPA.</i></p>
    </div>


  </div>

  <div class="box">
    <h2 class="line"><b>RESULT ANALYSIS</b></h2>
    <div class="btn-2">

      <button class="button b" onclick="gotoPage('ResultAnalysis')"></button>
    </div>
    <div class="">
      <p><i>Check your performance and analyze your result.</i></p>
    </div>

  </div>



  <script src="js/index.js"></script>
</body>

</html>
