body {
    font-family: 'Montserrat', sans-serif;
    background-color: lightcyan;
}

.container-xl {
background-color: #4682B4;

  text-align: center;
  padding: 30px;

}
h1{
margin: 30px;
font-family: 'Montserrat', sans-serif;
text-shadow: 5px 0 #232931;
font-size: 4rem;
color: white;
}

h2{
  margin: 0 30px 30px 30px ;
  font-size: 2rem;;
  text-shadow: 2px 0 #232931;
  color: #F08080;
}
.header{
	text-align: center;

}
.header-message {
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 50%;
  padding: 10px;
  margin: auto;
}

.header-message-container{
  margin: auto;
  width: 50%;
  padding: 10px;
}


.header-message select{
	margin-left: 15px;
	margin-right: 15px;
	border: 0;

}

.header-message input{
	margin-left: 15px;
	margin-right: 15px;
	border: 0;

}

.header-message button{
	width: 100%;
	margin-left: 15px;
	margin-right: 15px;
	border: 0;

}
